@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 88%;
    height: 320px;
    margin-top: 7%;
}

header {
    text-align: center;
    background: #99CC33;
    color: #fff;
    padding: 2%;
}

header h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

header p {
    margin-top: 0;
    font-size: 1.2em;
}

main section:first-of-type {
    width: 55%;
    text-align: center;
    margin: 5% auto 5%;
    display: flex;
}

main section:first-of-type article {
    margin-left: 2.5%;
}

main section:first-of-type article:first-of-type {
    margin-left: 0;
}

main section:first-of-type article h2 {
    margin-bottom: 1%;
    font-size: 1.1em;
    font-weight: 500;
    color: #99CC33;
}

main section:first-of-type article p {
    margin: 0;
    color: #9D9D9D;
    font-size: 1.1em;
}

main section:first-of-type article:last-of-type h2 {
    color: #B8D499;
}

main section:first-of-type article:last-of-type p {
    color: #C4C4C4;
}

main section:last-of-type {
    display: grid;
    grid-template-columns: 40% auto;
    width: 70%;
    margin: 0 auto;
}

main section:last-of-type p {
    color: #B8B8B6;
    font-size: 0.8em;
    margin-bottom: 30%;
}

main section:last-of-type p span {
    color: #99CB38;
}

#map form div {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 3%;
}

#map form div span {
    display: block;
    color: #D8D8D8;
    text-transform: uppercase;
    margin-bottom: 3%;
    font-size: 0.95em;
}

#map form div input {
    margin-left: 1%;
    width: 80%;
    padding: 3%;
    border: 2px solid #A9A9A9;
    margin-bottom: 3%;
    outline: none;
}

#map form div i {
    color: #949494;
    position: relative;
    right: 12%;
    font-size: 1.1em;
    top: 3px;
}

::placeholder {
    color: #9D9D9D;
    font-size: 1.1em;
}

#map form textarea{
    width: 93%;
    margin-left: 1%;
    border: 2px solid #9C9C9C;
    padding: 2% 1%;
    box-sizing: border-box;
    margin-top: 2%;
    outline: none;
}

#map form input[type='submit'] {
    margin-left: 1%;
    margin-top: 3%;
    background: #96CB34;
    border: none;
    color: white;
    padding: 1.5% 2%;
    font-size: 0.9em;
    cursor: pointer;
    outline: none;
}