@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather|Open+Sans+Condensed:300');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f2e3e3' fill-opacity='0.2'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.8rem 0;
}

header nav ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}

header ul li {
    list-style: none;
    padding: 0.8rem;
}

header ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 1.03rem;
}

.title-header {
    text-align: center;
}

.title-header h1 {
    color: #800080;
    font-family: 'Merriweather', serif;
    margin: 0;
    font-size: 2.2em;
}

.title-header p {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 700;
}

main {
    margin-top: 5rem;
}

.site-header {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.site-header i{
    font-size: 9em;
}

.site-header article {
    width: 69%;
    margin-right: 7%;
}

.site-header h2 {
    font-family: 'Merriweather', serif;
    margin: 0;
    font-size: 2em;
    font-weight: 500;
}

.site-header button {
    margin-top: 2%;
    background: transparent;
    border: 2px solid #333333;
    padding: 1.5% 4%;
    font-weight: 600;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.site-header p {
    margin: 0.7rem 0;
}

.site-header button:hover {
    background: #333333;
    color: white;
}

.ourTeam {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.ourTeam h2, .testimonials h2 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 500;
}

.ourTeam h2:after, .testimonials h2:after {
    display: block;
    content: '';
    width: 7%;
    background-color: black;
    height: 0.18rem;
    margin: 0.7% auto 5%;
}

.ourTeam div, .testimonials div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.ourTeam div article, .testimonials div article{
    width: 28%;
}

div.avatar {
    width: 6.5rem;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.avatar:before {
    display: block;
    content: '';
    padding-top: 100%;
}

.avatar img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.avatar:after {
    display: block;
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px rgba(255,255,255,0.52);
}

.ourTeam h4, .testimonials h4 {
    margin-bottom: 0;
    margin-top: 7%;
}

.ourTeam p, .testimonials p {
    margin-top: 5%;
    font-style: italic;
    margin-bottom: 3rem;
}

.sing-up {
    text-align: center;
    background-color: #68347B;
    padding: 2%;
    box-shadow: 0px -7px 29px -6px rgba(0,0,0,0.36);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fddede' fill-opacity='0.05'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.sing-up h2 {
    color: white;
    font-size: 2em;
    margin-top: 0;
}

.sing-up h2:after {
    display: block;
    content: '';
    width: 6.5%;
    background-color: black;
    height: 0.18rem;
    margin: 1.1% auto 0;
}

.sing-up form {
    display: flex;
    justify-content: center;
    margin: 3% 0 3% 0;
}

.sing-up form input[type="text"] {
    padding: 0.65%;
    flex: 0 0 25%;
    margin-right: 1%;
    border: 2px solid #333333;
    border-radius: 5px;
    outline: none;
}

.sing-up form input[type="submit"] {
    background-color: white;
    color: black;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.sing-up form input[type="submit"]:hover {
    background-color: #333;
    color: white;
}

.testimonials {
    padding-bottom: 5%;
    text-align: center;
    box-shadow: 0px 17px 29px -6px rgba(0,0,0,0.2);
    background: white;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fddede' fill-opacity='0.11' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.testimonials article {
    margin-bottom: 6%;
}

.testimonials h2 {
    margin-top: 0;
    padding-top: 4.5%;
}

.testimonials p {
    margin-top: 7%;
    margin-bottom: 9%;
}

footer {
    display: flex;
    width: 75%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3% auto 3%;
}

footer article {
    width: 28%;
}

footer article:nth-of-type(2) {
    width: 21%;
}

footer article:nth-of-type(3) {
    width: 30%;
}

footer h2 {
    font-size: 1.6rem;
    margin: 6% 0 3% 0;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

footer div {
    display: flex;
    justify-content: space-between;
}

footer article:nth-of-type(2) h3 {
    margin-bottom: 3%;
}

footer article:nth-of-type(3) li span{
    padding-left: 3%;
}

footer article:nth-of-type(3) li:nth-of-type(5) span, footer article:nth-of-type(3) li:nth-of-type(6) span {
    padding-left: 2vw;
}

header .menu {
    display: none;
}

#menu {
    display: none;
}

.menu label span:nth-of-type(2) {
    display: none;
}

@media screen and (max-width: 810px){
    header nav {
        width: 100%;
        text-align: center;
        display: none;
    }

    header nav ul {
        flex-direction: column;
    }

    header .menu {
        display: block;
    }

    input#menu:checked + header > nav{
        display: block;
    }

    input#menu:checked + header .menu label span:first-of-type {
        display: none;
    }

    input#menu:checked + header .menu label span:nth-of-type(2) {
        display: inline-block;
    }

    header, .site-header, .ourTeam div, .testimonials div, footer {
        width: 90%;
    }

    .ourTeam {
        margin-top: 3rem;
    }

    .ourTeam div article, .testimonials div article {
        width: 46%;
    }

    .ourTeam div.avatar, .testimonials div.avatar {
        width: 7rem;
    }

    .sing-up form input[type="submit"] {
        flex-grow: 0.2;
    }

    .sing-up form input[type="text"] {
        flex-grow: 1;
        padding: 1%;
    }

    .sing-up {
        padding: 4%;
    }

    footer {
        flex-direction: column;
    }

    footer article {
        width: 100%;
    }

    footer article:nth-of-type(2) {
        width: 70%;
    }

    footer article:nth-of-type(3) {
        width: 100%;
    }
}

@media screen and (max-width: 350px){
    .site-header i {
        display: none;
    }

    .site-header article {
        text-align: center;
        width: 100%;
        margin-right: 0;
    }
}