body {
    background-color: #EEEEEE;
    padding: 3rem 4rem;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

header h1 {
    text-transform: uppercase;
    margin-left: 2%;
}

header nav {
    display: flex;
    width: 33%;
}

header nav > ul{
    display: flex;
    background-color: #FCFCFC;
    padding: 2%;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}

header nav > ul li {
    margin-left: 2%;
}

header nav > ul li:first-of-type {
    margin-left: 0;
}

header nav > ul li a {
    color: white;
}

header nav ul li{
    padding: 2% 3%;
    background-color: #333333;
    list-style-type: none;
    width: 100%;
    border-radius: 5px;
}

header nav ul li a {
    text-decoration: none;
}

header nav > ul li:nth-of-type(3) ul {
    display: none;
    position: absolute;
    width: 10%;
    background-color: white;
    top: 17.2%;
    right: 12.5%;
    padding: 0.6% 0.6% 0.1%;
}

header nav > ul li:nth-of-type(3) ul li {
    text-align: left;
    padding: 5% 0 5% 10%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

nav li:hover {
    background-color: #039900;
    cursor: pointer;
}

body > header > nav > ul > li:nth-child(3) > ul > li:nth-child(3) > ul,
body > header > nav > ul > li:nth-child(3) > ul > li:nth-child(1) > ul {
    display: none;
    top: 0;
    left: -93.5%;
    padding: 4.6% 3.6% 0.1%;
    width: 93%;
}

body > header > nav > ul > li:nth-child(3) > ul > li:nth-child(3) > ul {
    top: 64%;
}

header nav > ul > li:nth-of-type(3):hover ul,
body > header > nav > ul > li:nth-child(3) > ul > li:nth-child(1):hover ul,
body > header > nav > ul > li:nth-child(3) > ul > li:nth-child(3):hover ul{
    display: block;
}