html {
    font-family: 'Arial', sans-serif;
    padding: 2rem 4rem;
    background: url("./images/background.png") no-repeat center;
    color: #fff;
}

main {
    display: flex;
    width: 80%;
}

h3 {
    font-weight: 100;
}

#create {
    width: 70%;
}

#create > div {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 30.5%;
    margin: 0.2rem;
}

#create > div article > img {
    height: 130px;
}

.inner-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inner-img img, #code article img {
    height: 63px;
}

.inner-img div {
    width: 48%;
}

#playAndCode {
    padding-left: 2rem;
}

img {
    width: 100%;
    cursor: pointer;
}

#play > div{
    display: flex;
    flex-wrap: wrap;
}

#play article {
    width: 24.5%;
}

#code {
    margin-top: 1.5rem;
}

#code > div {
    display: flex;
}

#code article {
    width: 13%;
    margin: 0.2rem;
}