@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800');
@import url('https://use.fontawesome.com/releases/v5.1.1/css/all.css');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #000000 0%,#b6bab9 100%) no-repeat center;
}

img {
    width: 100%;
}

body > main {
    background-color: #E7E7E7;
    width: 55%;
    margin: 10% auto;
    border-radius: 15px;
    padding: 2% 1%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 3%;
}

main div:first-child {
    align-self: center;
}

main div h1 {
    font-size: 1.8em;
}
main div p {
    font-weight: 500;
    font-size: 0.95em;
    margin-bottom: 6%;
}

form {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(2, 40%);
    grid-row-gap: 30px;
}

form label {
    border-bottom: 2px solid black;
    padding-bottom: 2%;
}

form label input {
    background: none;
    border: none;
    padding: 2%;
    outline: none;
    margin-left: 1%;
}

form label i {
	color: #373936;
}

::placeholder {
    color: #80807E;
    text-transform: uppercase;
    font-size: 1em;
}

main div input[type="submit"] {
    grid-column: 2/3;
    width: 65%;
    margin-top: 2%;
    background: black;
    color: white;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 5%;
    border-radius: 20px;
    cursor: pointer;
     margin-left: 42%;
}